<div class="outer-container">
    <div class="row">
    <div class="left-section col-md-4">
        <h3 class="mx-auto text-center text-capitalize mt-2 text-light">
            education
          </h3>

          <div class="img-container">
            <div class="img-wrapper">
              <img
                src="assets/img/college.jpg"
                class="img-fluid img-responsive rounded-circle"
                alt="character"
              />
            </div>
          </div>
          <h5 class="text-center text-light quote">
            <q><i>from darkness to light</i></q>
          </h5>
    </div>
    <div class="right-section col-md-8"></div>
</div>
</div>
