
<!-- <app-firstsection></app-firstsection> -->
<div class="outer-container">
<!-- <app-skills></app-skills> -->

    <div class="row">
    <div class="left-section col-md-4">
        <h3 class="mx-auto text-center text-capitalize mt-2 text-light">
            education
          </h3>

          <div class="img-container">
            <div class="img-wrapper">
              <img
                src="{{eduImgEnlarged}}"
                class="img-fluid img-responsive rounded-circle"
                alt="character"
              />
            </div>
          </div>
          <h5 class="text-center text-light quote">
            <q><i>from darkness to light</i></q>
          </h5>
    </div>
    <div class="right-section col-md-8 d-md-flex justify-content-center align-items-center">

 <div class="row row-cols-1 row-cols-md-3 mx-auto w-100">
  <div *ngFor="let e of edu" (click)="eduImgEnlarger(e)" class="col mx-auto mt-4 col-outer-card">
    <div class="card">
      <div class="card-ele">
        <i class="{{e.icons}}"></i>
      </div>
      <div class="card-el">
        <div class="">
          <h5>{{e.year}}</h5>
         </div>
      </div>
      <div class="card-body">
        <div class="card-title">
          
          <h4>{{e.standard}}</h4>
         </div>
       <div class="card-text">
<p>{{e.institution}}</p>
<p>{{e.course}}</p>
<p>{{e.marks}}</p>
       </div>
      </div>
    </div>
  </div>
 </div>
    </div>
</div>
<!-- <app-projects></app-projects>
<app-contact></app-contact>
<app-footer></app-footer> -->
</div>
