<div class="outer-container">
    <div class="footer-container">

            <div class="row footer-wrapper">
               <div class="col-md-12 mx-auto">
                <div class="social-media-icons">
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-hackerrank"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-square-whatsapp"></i>
                </div>
               </div>
        </div>
    </div>
</div>