<div class="outer-container mx-auto w-100">
    <div class="contact-container w-100 mx-auto">
        <h3 class="text-center mx-auto mt-4">Want to hire me?</h3>
        <div class="row">
            <div class="col-md-8 mx-auto text-center mt-4">
                <form action="" class="mx-auto text-center d-flex g-8 align-items-center flex-row">
                   <div class="form- d-flex mx-auto">
                    <input type="text" placeholder="Enter mail" class="form-control">
                    <button class="btn text-capitalize my-auto" type="submit">send</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>