*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
}
:root{
    --primClr:#9B31EE;
}

html,body{
    scroll-behavior:smooth;
    overflow-x: hidden;
}

body{
    /* width:; */
    height:100%;
    overflow-x:hidden;
}

