<div class="outer-container">
    <div class="skill-container d-flex ">
       <div class="row ">
        <div class="col-md-8 left-section d-flex p-5 justify-content-center align-items-center ">

            <div class="row mx-auto row-cols-3 ">
                <div class="col mx-auto"*ngFor="let s of sk; let i = index" (click)="imgEnlarger(s)">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="{{s.skillImg}}" class="img-fluid rounded-start my-auto mx-auto d-block" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{s.skillTitle}}</h5>
                              <p class="card-text">{{s.skillProficiency}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                </div>
               
            </div>
        </div>
        <div class="col-md-4 right-section">
            <h3 class="mx-auto text-center text-capitalize mt-2 text-light">
                Tools
              </h3>
              <div class="img-container">
                <div class="img-wrapper">
                  <img
                    src="{{toolImgEnlarged}}"

                    class=" d-block mx-auto"
                    alt="character"
                  />
                </div>
              </div>
        </div>
       </div>
    </div>
</div>
